@{
    ViewBag.Title = "Semana Acadêmica da Biologia - Cronograma";
}
<script src="@Url.Content("~/Scripts/lytebox.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Lytebox.css")" rel="stylesheet" type="text/css" />
<p>
    Clique em uma data em destaque para saber sua programação.
</p>
<br />
<table class="cronograma" cellspacing=3 cellpadding=3>
    <tr>
        <td colspan="7">Outubro de 2012</td>
    </tr>
    <tr>
        <td>Dom</td>
        <td>Seg</td>
        <td>Ter</td>
        <td>Qua</td>
        <td>Qui</td>
        <td>Sex</td>
        <td>Sab</td>
    </tr>
    <tr>
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
    </tr>
    <tr>
        <td>14</td>
        <td>15</td>
        <td class="crono"><a href="@Url.Content("~/Cronograma/dezesseis")" class="lytebox" data-lyte-options="width:400 height:300 scrollbars:no">16</a></td>
        <td class="crono"><a href="@Url.Content("~/Cronograma/dezessete")" class="lytebox" data-lyte-options="width:400 height:300 scrollbars:no">17</a></td>
        <td class="crono"><a href="@Url.Content("~/Cronograma/dezoito")" class="lytebox" data-lyte-options="width:400 height:300 scrollbars:no">18</a></td>
        <td class="crono"><a href="@Url.Content("~/Cronograma/dezenove")" class="lytebox" data-lyte-options="width:400 height:300 scrollbars:no">19</a></td>
        <td class="crono"><a href="@Url.Content("~/Cronograma/vinte")" class="lytebox" data-lyte-options="width:650 height:480 scrollbars:no">20</a></td>
    </tr>
    <tr>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
    </tr>
    <tr>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td>31</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br /><br />