@model Core.Model.Inscricao

@* This partial view defines form fields that will appear when creating and editing entities *@

<table class="inscrição">
    <tr>
        <td>
            @Html.LabelFor(model => model.nome)
        </td>
        <td>
            @Html.EditorFor(model => model.nome)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.instituicao)
        </td>
        <td>
            @Html.EditorFor(model => model.instituicao)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.email)
        </td>
        <td>
            @Html.EditorFor(model => model.email)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.telefone)
        </td>
        <td>
            @Html.EditorFor(model => model.telefone)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.curso)
        </td>
        <td>
            @Html.EditorFor(model => model.curso)
        </td>
    </tr>
</table>