<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/images/Favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/Content/Master.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Color.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <div id="cabecalho">
        <img alt="Biologia" class="logo" src="@Url.Content("~/Content/images/Bio.png")" />
        <img alt="Semana Acadêmica de Biologia" src="@Url.Content("~/Content/images/Titulo.png")" />
        @Html.Partial("_LogOnPartial")
    </div>
    <div id="main">
        @{Html.RenderAction("MenuSuperior", "Menu");}
        <div id="insideMain">
            @RenderBody()
        </div>
    </div>
    <div id="base">
        <table>
            <tr>
                <td>
                    <a href="http://www.cederj.edu.br/">
                        <img alt="Cederj" class="cederj" src="@Url.Content("~/Content/images/logo_cecierj.gif")" />
                    </a>
                </td>
                <td id="linhaVertical"></td>
                <td>
                    <a href="http://www.facebook.com/groups/199028066802452/">
                        <img alt="Facebook" class="facebook" src="@Url.Content("~/Content/images/Facelogo.png")" />
                    </a>
                </td>
            </tr>
        </table>
        <br /><br />
        <div>
            <p>
                Tecnologia Asp.Net MVC 3 / C# e SQL<br />
                Hospedagem <a href="https://appharbor.com/">AppHarbor</a> e <a href="https://github.com/">Github</a><br />
                Criado por Diogo de Lima<br />
                versão @typeof(Web.MvcApplication).Assembly.GetName().Version
            </p>
        </div>
    </div>
</body>
</html>
